In [8]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt

data = pd.read_csv('BX-Users.csv')

for x in range(len(data)):
    my_str = data.loc[x,"location"]
    new_val= my_str[my_str.rfind(','):]
    data.loc[x,"location"] = new_val[1:len(new_val)]





data.head()

   uid         location   age
0    1              usa   NaN
1    2              usa  18.0
2    3           russia   NaN
3    4         portugal  17.0
4    5   united kingdom   NaN